<mat-card>
  
  <label>Condition:</label>
  <form class="form-inline">
    <div class="form-group col-8">
      <select class="form-control">
        <option
          *ngFor="let option of parentForm.condition.options"
          [value]="option"
        >
          {{ option }}
        </option>
      </select>
    </div>
    <div class="form-group col-3">
      <app-check-form [type]="parentForm.parentType" [condition]="parentForm.condition"></app-check-form>
    </div>
  </form>

  <div class="form-group">
    <label>Question:</label>
    <input type="text" class="form-control" [(ngModel)]="parentForm.question"/>
  </div>

  <div class="form-group">
    <label>Type</label>
    <select [(ngModel)]="parentForm.type" class="form-control">
      <option value="text">Text</option>
      <option value="number">Number</option>
      <option value="boolean">Yes / No</option>
    </select>
  </div>

  <div class="form-action">
    <button mat-raised-button color="primary" (click)="createSubInput()">
      Add Sub-Input
    </button>
    <button mat-raised-button color="warn" (click)="deleteParentInput()">
      Delete
    </button>
  </div>
</mat-card>

<div style="margin-left:50px;" *ngFor="let sub of parentForm.subForm; let i = index">
  <app-sub-input [parentForm]="sub" [deleteSubInput]="deleteSub" [parent]="parentForm" [indexSub]="i"></app-sub-input>
</div>
